<!DOCTYPE html>
<html lang="en">
  <head>
		<meta property="og:url" content="<%= @url %>" />
    <meta property="fb:app_id" content="390511271369342" />
    <%= javascript_include_tag "og_link", 'data-turbolinks-track' => 'reload' %>
	</head>
	<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS8V9DV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
		<%= yield %>
  </body>
</html>